<div class="entry-navbar navbar">
    <ul style="list-style: none;">
      <li class="logo">
        getCP
      </li>
      <li class="link-signup">
        <%= link_to '注册', new_user_registration_path %>
      </li>
    </ul>
</div>


<div class="sessions-new">
<h1 class="regist-header">登陆</h1>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field email-regist">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: '邮箱' %>
  </div>

  <div class="field password-regist">
    <%= f.password_field :password, autocomplete: "off", placeholder: "密码" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field remember-login">
      <%= f.check_box :remember_me, checked: true, hidden: true %>
    </div>
  <% end -%>

  <div class="actions registration-button">
    <%= f.submit "提交" %>
  </div>
<% end %>

</div>

