<!DOCTYPE html>
<html>
  <head>
    <title>寻秘</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag 'xunmi.png' %>

    <link    href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar">
        <ul style="list-style: none;">
          <% if user_signed_in? %>
            <li class="link-all-users">
              <%= link_to '周围用户', users_index_path %>
            </li>
            <li class="navbar-tac">
              <%= image_tag current_user.profile.profile_photo('tac'), class: "tac-image" %>
            </li>
            <li class="link-user-name">
              <%= link_to "#{current_user.first_name}", current_user.profile %>
            </li>
            <li class="link-home">
              <%= link_to '朋友圈', root_url %>
            </li>
            <li class="link-all-friends">
              <%= link_to '聊天列表', chatroom_path %>
            </li>
            <% if current_user.received_requests.where(accepted: 0).count > 0 %>
                <li class="link-requests">
                  <%= link_to "好友请求 (#{current_user.received_requests.where(accepted: 0).count})", requests_path %>
                </li>
            <% end %>
            <li class="link-edit">
              <%= link_to '编辑账号', edit_user_registration_path(current_user) %>
            </li>
            <li class="link-signout">
              <%= link_to '登出', destroy_user_session_path, method: :delete %>
            </li>
          <% end %>
        </ul>
  </div>

    <% flash.each do |message_type, message| %>
      <% next if message_type[0..4] != 'alert' %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>

    <%= yield %>

  </body>





</html>
